{% extends 'base.html' %}

{% block content %}

    <form name="sign_up_form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Are you sure you want to Join this Course ? Confirm It.</label><br><br>
      <input type="radio" id="yes" name="confirm_join" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" id="no" name="confirm_join" value="no" checked>
      <label for="no">No</label><br><br>
      <input type="submit" value="Submit">
    </form>

{% endblock %}